@model CMS.Models.UserDetailsViewModel
@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="team agileits" id="team">
    <div class="team-info">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Main Stream</th>
                                <th>Sub Stream</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.UserName</td>
                                <td>@Model.Email</td>
                                <td>@Model.Contact</td>
                                <td>@Model.MainStream</td>
                                <td>@Model.SubStream</td>
                            </tr>
                            <tr>
                                <td> <b>You may go with courses: </b></td>
                                <td colspan="4">
                                    @{
                                        foreach (var item in Model.Course)
                                        {
                                            <div class="col-md-6">@item.EligibleCourseName</div>
                                        }
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>


@*<div class="row">
    

</div>*@


@*<p>Name : @Model.UserName</p>
<p>Email : @Model.Email</p>
<p>Contact : @Model.Contact</p>
<p>Main Stream : @Model.MainStream</p>
<p>Sub Stream : @Model.SubStream</p>
@{ 
    foreach(var item in Model.Course)
    {
        <p>Available Course : @item.EligibleCourseName</p>
    }
}*@