@model CMS.Models.UserDetailsViewModel
@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if(Model == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<section class="team agileits" id="team">
    <div class="team-info">
        <div class="container">
            
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-striped">
                        <tr>
                            <th colspan="2" style="padding-left:30%"> User Details</th>
                        </tr>

                        <tr>
                            <td><b>Name :</b></td>
                            <td>@Model.UserName</td>
                        </tr>
                        <tr>
                            <td><b>Email :</b></td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td><b>Contact No :</b></td>
                            <td>@Model.Contact</td>
                        </tr>
                        <tr>
                            <td><b>Last Qualification :</b></td>
                            <td>@Model.LastQualification</td>
                        </tr>
                        <tr>
                            <td><b>Main Stream :</b></td>
                            <td>@Model.MainStream</td>
                        </tr>
                        <tr> 
                            <td><b>Sub Stream :</b></td>
                            <td>@Model.SubStream</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-striped">
                        <tr>
                            <th> <b>You may go with courses: </b></th>
                        </tr>
                        <tr>
                            <td st>
                                @{
                                    foreach (var item in Model.Course)
                                    {
                                        <div class="col-md-6">@item.EligibleCourseName</div>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>


@*<div class="row">
    

</div>*@


@*<p>Name : @Model.UserName</p>
<p>Email : @Model.Email</p>
<p>Contact : @Model.Contact</p>
<p>Main Stream : @Model.MainStream</p>
<p>Sub Stream : @Model.SubStream</p>
@{ 
    foreach(var item in Model.Course)
    {
        <p>Available Course : @item.EligibleCourseName</p>
    }
}*@